body{
  background-color: #3A3B46;
}

/* NAV BAR */
.topbar {
  background-color: #d9ff00; 
  padding: 10px 0;
  position: relative;
}

.icon {
  width: 30px;
  margin-right: 15px;
  cursor: pointer;
}

.logo-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
}

.logo-icon{
  padding-top: 60px;
  width: 200px;
  height: 200px;
}

.search-bar {
  border-radius: 20px;
  border: 1px solid black;
  padding: 5px 15px;
  margin-right: 15px;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.subnav {
  background-color: black;
  color: white;
  padding: 15px 0;
  font-size: 15px;
  cursor: pointer; /* Because i want to make them clickable later on */
  text-decoration: none;
  transition: 0.3s;
}

.subnav a{
  text-decoration: none;
  color: white;
}
/* NAV BAR */

/* FOOTER */
.footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  
}

.footer-pages{
  display: flex;
  justify-content: center;
  gap: 300px;
  padding: 20px ;
  
  font-size: 16px;
  border-bottom: 1px solid ;
}

.footer-pages a{
  color: #fff;
  text-decoration: none;
}

.socialsTitle{
  margin-bottom: 20px;
  font-size: 18px;
}

.socials p{
  padding-top: 20px;
  margin-top: 20px;
}
.socialsIcons {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding-bottom: 20px;
  
}

.socialsIcons img{
  
  width: 30px;
  height: 30px;
  
}


.footer-bottom {
  background-color: #ccff00; 
  color: #000;
  padding: 15px 0;
  font-size: 14px;
}
/* FOOTER end */


.player {
  width: 720px;
  background: #3A3B46;
   width: 100%;
  min-height: 100vh;
  border: 1px solid rgba(255,255,255,0.1);
}

.top-section {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  padding: 35px;
  min-height: 300px;
}

.album img {
  width: 95px;
  height: 95px;
  object-fit: cover;
}

.info h1 {
  font-size: 82px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 50px;
  color: #fff;
}

.controls {
  display: flex;
  align-items: center;
  gap: 25px;
}

.arrow {
  font-size: 28px;
  cursor: pointer;
  color: #000;
}

.play-btn {
  width: 50px;
  height: 50px;
  background: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 16px solid #d9ff00;
  margin-left: 3px;
}

.divider {
  border-top: 1px solid rgba(255,255,255,0.2);
}

.song {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 35px;
  border-bottom: 1px solid rgba(255,255,255,0.15);
}

.song-left {
  display: flex;
  align-items: center;
  gap: 18px;
}

.song-icon {
  width: 22px;
  height: 22px;
  background: white;
}

.song-name {
  font-size: 16px;
  color: rgba(255,255,255,0.95);
}

.mini-play {
  width: 14px;
  height: 14px;
  background: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mini-triangle {
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 5px solid #d9ff00;
  margin-left: 1px;
}

.song:hover {
  background: rgba(255,255,255,0.05);
}

