body{
    background-color: black;
}

.frontpage{
    background-color: #000000;
    margin-bottom: 0;
    padding-bottom: 0;

}

.frontpage img{
    margin-bottom: 0;
    padding-bottom: 0;

}

.front-logo{
    margin-top: 150px;
    padding: 0;
    margin-bottom: 0;

}

.button {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-btn {
    width: 150px;
    height: 150px;
    margin-top: 0px;
    padding-top: 0px;
    
}
