body{
    background-color: #3A3B46;
}

/* NAV BAR */
.topbar {
    background-color: #d9ff00; 
    padding: 10px 0;
    position: relative;
}

.icon {
    width: 30px;
    margin-right: 15px;
    cursor: pointer;
}

.logo-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
}

.logo-icon{
    padding-top: 60px;
    width: 200px;
    height: 200px;
}

.search-bar {
    border-radius: 20px;
    border: 1px solid black;
    padding: 5px 15px;
    margin-right: 15px;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.subnav {
    background-color: black;
    color: white;
    padding: 15px 0;
    font-size: 15px;
    cursor: pointer; /* Because i want to make them clickable later on */
    text-decoration: none;
    transition: 0.3s;
}

.subnav:hover{
    color: #d9ff00;
}
/* NAV BAR */


/* profile */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 150px;
    margin-bottom: 100px;
    
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile h2{
    color: #d9ff00;
    font-size: 40px;
    
}

.profile-list{
    background-color: #000000;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 30px;
    width: 50%;
    color: #fff;
    font-size: 20px;
    list-style: none;
    
}

.profile-list li{
    margin: 12px 0;
    cursor: pointer;
    margin-left: 20px;
}
/* profile */

/* FOOTER */
.footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    
}

.footer-pages{
    display: flex;
    justify-content: center;
    gap: 300px;
    padding: 20px ;
    
    font-size: 16px;
    border-bottom: 1px solid ;
}

.footer-pages a{
    color: #fff;
    text-decoration: none;
}

.socialsTitle{
    margin-bottom: 20px;
    font-size: 18px;
}

.socials p{
    padding-top: 20px;
    margin-top: 20px;
}
.socialsIcons {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
    
}

.socialsIcons img{
    
    width: 30px;
    height: 30px;
    
}


.footer-bottom {
    background-color: #ccff00; 
    color: #000;
    padding: 15px 0;
    font-size: 14px;
}
/* FOOTER end */